@media (max-width: 1024px) {
// Header
    header{
        .navbar{
            gap: 2rem;
        }
    }

// Index 
    .section-explicaciones {
        height: auto;
        .card-home1, .card-home2 {
            width: 90%;
            align-items: center;
        }
    }

    .background-interactive{
        a{
            img{
                width: 50%;
            }
        }
    }        

// Servicios 
.section-servicios{
    .card-servicios1, .card-servicios2{
        width: 90%;
    }
    .card-servicios2{
        a{
            margin-top: 1.875rem;
        }
    }
}

// Card general 
    .section-last-card{
        div {
            width: 90%;
        }
    } 

// Sobre mi 
    .main-sobremi{
        .section-sobre-mi{
            height: 50rem;
            .card-sobremi1{
                p{
                    font-size: 1.0625rem ;
                }
            } 
            .card-sobremi2{
                p{
                    font-size: 1.25rem ;
                }
            }
        }
    }

// Carta natal y revo solar
    .section-ofrecer{
        div{
            width: 90%;
            .div-p{
                width: 50rem;
            }
        }
    }

    .section-incluye{
        div{
            ul, p{
                padding: .625rem;
            }
        }
    }

// Blog
    .section-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}